.landing-headline {
  margin-top: 3rem;
  user-select: none;
  white-space: pre-line;
}

.landing-flowchain {
  margin-top: 3rem;
  height: 500px;
}

.landing-features {
  margin-top: 3rem;
  user-select: none;
}

.landing-direction {
  margin-top: 3rem;
  user-select: none;
}
