.Landing__Headline {
  margin-top: 3rem;
  user-select: none;
  white-space: pre-line;

  @media (max-width: 576px) {
    margin-top: 1.5rem;
    white-space: normal;
  }
}

.Landing__Diagram {
  margin-top: 3rem;
  height: 500px;

  @media (max-width: 576px) {
    margin-top: 1.5rem;
    height: 250px;
  }
}
