.TopNavBar__Container {
  height: 4.35rem;
  background-color: var(--bs-body-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  user-select: none;

  @media (max-width: 576px) {
    height: auto;
  }
}

.TopNavBar__Icon {
  margin-right: 0.5rem;

  @media (max-width: 576px) {
    margin-right: 0.25rem;
  }
}
