.react-flow__node {
  color: var(--bs-body-color) !important;
  border-color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
}

.react-flow__attribution {
  background-color: var(--bs-body-bg) !important;
}

.react-flow__minimap {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
}

.react-flow__controls {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
}
